
<nav class="top-nav">
    <div class="nav-wrapper">
      <ul id="navbar">
        <li class="menu_label vert_dvider"><a href="#"><i class="fa fa-bars"></i>   Menu</a></li>
        <li class="menu_label"><span><a href="#"><i class="fa fa-home"></i>Srijan</a></span></li>

        <span class="pull-right logos">
          <li><a href="#"><i class="fa fa-rocket"></i><span class="plan">Plans</span></a></li>
          <li><a href="#"><i class="fa fa-th-large"></i><span class="workspace">Workspaces</span></a></li>
          <li><a href="#"><i class="fa fa-life-ring"></i><span class="help">Help</span></a></li>
          <li><a href="#"><img src="https://a.slack-edge.com/66f9/img/icons/ios-64.png" title="Slack" style="height: 28px; width:28px;" alt="Launch Slack"><span>Launch</span></a></li>
        </span>
      </ul>
    </div>
  </nav>

    <div class="blwnav">
    <div class="searchsectn">
    <div class="div-sec">
      <h3>Manage members<i class="fa fa-cloud-download"></i><button class="btn btn-success pull-right" [routerLink]="['../invite']">Invite People</button></h3>
    </div>
    <div class="searchWrap">
    <div class="searchContainer">
      <i class="fa fa-search searchIcon"></i>
      <input class="searchBox" type="search" name="search" id="typeSearch" (keyup)="getUserbyfirstName()" placeholder="Search current members">
      </div>

  <div id="filterbtn" class="dropdown dropleft">
      <button class="btn btn-default " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-sliders filerIc" type="filters" aria-hidden="true"></i> Filters
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="float: right">
         <div> <label class="modal-title fltrLabel" id="exampleModalLabel">Filter by</label></div>
          <div><label  class="rstLabel" (click)='getUserList()'><u>Reset filters</u> </label></div>
          <hr>
          <div class="row fltr" id="fltr">
              <div class="col-md-4">
                Account type
                <br>
                <input type="checkbox" (click)='getWOwner()'> Workspace Owner (1) <br>
                <input type="checkbox" (click)='getWAdmin()'> Workspace Admin (0) <br>
                <input type="checkbox" (click)='getFMember()'> Full Member (0) <br>
                <input type="checkbox" (click)='getGuest()'> Guest (0) <br>
              </div>
              <div class="col-md-4" style="border-left: 1px solid #e9ecef;">
                Billing status<br>
                <input type="checkbox" (click)='getActive()'> Active <br>
                <input type="checkbox" (click)='getInactive()'> Inactive <br>
              </div>
              <div class="col-md-4" style="border-left: 1px solid #e9ecef;">
                Authentication<br>
                <input type="checkbox"> Two-factor(2FA) <br>
                <input type="checkbox"> SSO <br>
                <input type="checkbox"> Default (email & password) <br>
              </div>

            </div>
            <hr>
            <input type="checkbox" class="deactivatCheckbox"  (click)='getInactive()'> Show deactivated accounts Owner <br>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class="tbl">
      <table class="table">
          <thead>
            <tr>
              <th class="name">Name<i class="fa fa-arrow-down"></i></th>
              <th>Account Type</th>
              <th>Billing status</th>
              <th>Authentication</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userList">
              <td><div class="image"><img src="../../assets/images/slack_image.jpg" style="width:20%;height:100%;"><div class="nameLabel"><div><strong>{{item.firstName}} {{item.lastName}}</strong> </div><div style="color: #717274;">{{item.email}}</div></div></div></td>
              <td>{{aType[item.acntType]}}</td>
              <td>{{bStatus[item.billingStatus]}}</td>
              <td>{{auth[item.authentication]}}</td>
              <td><i class=" fa fa-ellipsis-h" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"></i>
                <div class="dropdown-menu chngRole" aria-labelledby="dropdownMenuLink" >
                    <a class="dropdown-item" href="#"  (click)='changeAdmin(item)'>Change to Admin</a>
                    <a class="dropdown-item" href="#"  (click)='changeGuest(item)'>Change to Guest </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" style="color: red;" (click)="changeStatus(item)">Deactivate account</a>
                  </div></td>
            </tr>

          </tbody>
      </table>
      <hr>
      <span><label style="color: #717274 ; font: size 17px;"><i class="fa fa-users"></i><strong >Didn't find what you're looking for?</strong> Some members may be hidden because of the filters you've selected.<span style="color: #2e98d6;"> Show all members</span></label></span>
      <hr>
  </div>

