
.menu_label {

  font-family: NotoSansJP, Slack-Lato, appleLogo, sans-serif;
    font-size: 20px;
    line-height: 10px;
    font-weight: 520;
    color: #717274;
    letter-spacing: normal;
    padding: 18px;
  position: relative;
}

.vert_dvider {
  border-right: 1px solid #ccc;
  padding-top: 12px;
  padding-bottom: 0px
}

.fa-bars {
  font-size: 28px;
  margin-right: 20px;
}

.fa-home {
  font-size: 28px;
  padding-right: 20px;

}
.nav-wrapper {
  height:70px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: inline-block;
}

a {
  color: #717274;

}

.brand-logo {
  color: #717274;
}
#navbar a {
  display: inline-block;
}

li {
  display: inline-block;
  padding: 22px  20px 0px 0px;
  color: #717274;
  font-family:NotoSansJP, Slack-Lato, appleLogo, sans-serif;
  font-size: 12.8px;
  font-weight: bold;
  line-height: 15px;
  margin-top: 6px;
  letter-spacing:normal;
}
.dropdown-menu{
  margin-top:45px;
 float:right;
 margin-right:- 50px;

}
.chngRole{
  margin-top: -30px;
  margin-right: 30px;
}

.roc {
  color: #717274;
}


.logos i {
  vertical-align: top;
  line-height: 0px;
  float: left;
  text-align: center;
  margin-left: 12px;
  font-size: 1.5rem;
}
.logos img {
  vertical-align: top;
  line-height: 0px;
  float: left;
  text-align: center;
  margin-left: 12px;
}


.logos span {
  line-height: 4.3em;
  padding-right: 0px;
  vertical-align: top;
  float: left;
  font-size: .8rem;
  font-weight: 700;
}

img {
  height: 26px;
  width: 26px;
  margin-right: -37px;
  margin-top: -10px;

}
.help {
  margin-left: 10px;
}

.workspace {
  margin-left: -8px;
  margin-right: -15px;
}

.div-body {
height: 453px;
}

.div-sec {
  margin-top: 80px;
  padding-bottom: 20px;
}

.btn {
  height: 40px;
  width: 145px;
  background-color: #04804f;
  font-weight: bold;
}

h3 {
  font-size: 28px;;
  letter-spacing: normal;
  font-weight: 900px;
  color: rgb(44, 45, 48);
  font-family: NotoSansJP, Slack-Lato, appleLogo, sans-serif
}

.fa-cloud-download{
  font-size: 23px;
  color: #717274;
  margin-left: 20px;

}

.fa-search {
  color: #717274;
}
.searchContainer {
  background-color: white;
  flex: 1 1 300px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 965px;
  margin-right: 30px;
}

.searchIcon {
  padding-left: 20px;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  width: 94%;
}

.filterContainer {
  background-color: white;
  flex: 1 1 300px;
  position: relative;
  border: 0.8px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  max-width: 145px;
  height: 43px;
  display: flex;
}
a:hover {
  color: #2e98d6;
}
.filterIcon {
  margin-left: 12px;
  margin-top: 13px;
  color: #717274;
}
.rstLabel{
  float: right;
  margin-right: 30px;
  margin-top: -25px;
}
#fltr .col-md-4{
  margin-left: 0px;}
.fltrLabel{
  margin-left: 10px;
}
.filterBox {
  border: 0;
  flex: 1;
  margin-left: -19px;
  margin-top: 2px;
  font-size: 18px;
  background-color: white;
  color: #717274;
  padding-left: 25px;

}
.deactivatCheckbox{
  margin-left:20px;
  margin-bottom: 30px;
}


.searchWrap {
    display: flex;
}

.blwnav{
    height: 280px;
    background-color: #F9F9F9;
    padding-top: 1px;
    border-bottom: 2px solid #E8E8E8 ;
}
.tbl {
  padding-left: 125px;
  padding-right: 125px
}

.searchsectn
{
  padding-left: 125px;
  padding-right: 125px;
  padding-top: 50px;
}
.div-sec i{
  background: transparent;
}
th {
  font-size: 16px;
  font-weight: 600;
  color: #717274;;
  padding-left: 20px;
}

.fa-arrow-down {
  padding-left: 7px;
  font-size: 10px;
}
.table thead th {
  border-bottom: 1px solid #dee2e6 !important;
  height: 55px;
}
.name{
  color:#0777BA;
}

.c-button--medium {
  font-size: 15px;
  height: 44px;
  justify-content: flex-start;
  margin-left: -3px;
  min-width: 144px;
  /* padding: 0 12px; */

}
.image{

  max-width: 250px;;
  height: 50px;
  display: flex;
  padding-top: 7px;
}
.nameLabel{
  margin-left: 50px;
  width: 100%;
  margin-top: -15px;
}
.fa-users{
  font-size: 24px;
  margin-right: 12px;
}
.c-button--outline {
  background: #fff;
  color: #2c2d30;
  font-weight: 500;
  font-size: 18px;
  transition: all 75ms ease-in-out;
}
#filterbtn button{
  width: 147px;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.sliderIcon {
  height: 1em;
  left: 50%;
  margin-left: -3.5em;
  margin-top: -.5em;
  position: absolute;
  top: 50%;
  width: 1em;
}
.fltr{
  width: 700px;
}

.p-admin_table-wrapper__filter_btn_copy {
  margin: -2px 11px 0 -5px;
}

.fa-caret-down {
  height: 1em;
  left: 90%;
  margin-left: -.5em;
  margin-top: -.5em;
  position: absolute;
  top: 50%;
  width: 1em;
}
