.inviteTop{
  border: 1px solid #2D9EE0;
  margin-top: 80px;
  border-radius: 5px;
  height: 70px;
  text-align: center;
  background-color: #F3F9FD;
  letter-spacing: normal;
  color: #2c2d30;
  width: 52%;
  font-size: 17px;
}
.priceLink{
  color: #2d9ee0;
  font-weight: 600px;
  line-height: 1px;

}
.userLogo i
{
  color:#2D9EE0;
  padding-top: 10px;

}


.form {
  width: 850px;
  max-width: 100%;
  margin-top: 10px;

}

.fa-close {
  /* position: absolute; */
  top: 1rem;
  left: 0;
  width: 100%;
  display: block;
  font-size: 30px;
}

.closebtn {
  /* position: absolute; */
  top: 2.25rem;
  left: 0;
  width: 100%;
  display: block;
  font-size: 15px;
}



.floatRight:hover {
  background-color: #ebebf3;
  border-radius: 2rem;
}

.cls-btnn {
  padding-top: 5px;
  font-weight: 200;
}
.fa-paper-plane-o {
  display: block;
  font-size: 28px;
  color: #2d9ee0;
}

.body-wrap {
  width: 100%;
  display: inline-block;
  margin-top: -35px;
}
.header_invite {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -.5px
}

.size-font {

  text-align: center !important;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -.5px
}

.light {
  font-weight: 50px;
  color: #2c2d30;
  font-size: 32px;
  line-height: 40px;
  /* font-family: Slack-Lato, appleLogo, sans-serif; */
}

.bold {
  font-weight: 700px;
  color: #2c2d30;
  font-size: 32px;
  line-height: 40px;
  font-family: Slack-Lato, appleLogo, sans-serif;
}



label {
  font-weight: 700;
  margin: 0 0 .25rem;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
}

.tblBody {
  margin-top: 48px;
  width: 100%;
  margin-left: 10px;
  /* text-align: center; */
}
.tblBodyblw{
  width: 100%;
  margin-left: 10px;
}
.header {
  display: flex;
}

.table-th {
   display: flex;
}
.sectnEmail {
  width: 100%;
  font-size: 18px;
  color: #2c2d30;
  font-family: NotoSansJP, Slack-Lato, appleLogo, sans-serif;
  line-height: 24px;
  font-weight: 700px;
}
.floatRight {
  position: absolute;
  top: 3rem;
  width: 4rem;
  height: 4rem;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  color: #717274;
  font-size: .8rem;
  line-height: 1.5rem;
  border-radius: 100%;
  right: 4rem;
}
.con {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15vh 2rem 2rem;
  }

.full-width {
  max-width: 100% !important;
  width: 100% !important;
}

.header label {
  color:#2c2d30;
  font-size: 17px;
  font-family:  NotoSansJP, Slack-Lato, appleLogo, sans-serif;
  font-weight: 550;
  padding-right: 0;
  margin-bottom: 0;

}

.deleteRow {
position: absolute;
right: -30px;
color: #717274;
display: block;
width: 2.75rem;
height: 2.75rem;
line-height: 2.75rem;
text-align: center;
top: 1.6em;
}
.lblDefault{
  font-size: 18px;
  font-weight: 500px;
}

.row {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
}

.dr {
  position: absolute;
right: -30px;
color: #717274;
display: block;
width: 2.75rem;
height: 2.0rem;
line-height: 2.75rem;
text-align: center;
top: 0.2em;
}


.form-control{
  height: 43px;
  border: 1px solid #bdc5cc  ;
}
.form-control::placeholder {
  color: #bdc5cc;
  opacity: 1;
  font-size: 18px;
}

.fa-close {
  color: #717274;
  float: right;
}

.rowAdd {
  margin: 9px 17px 32px;
  font-size: 1rem;
}

.googleLink {
  color: #717274 ;
}

.lblMembers {
  font-size: 18px;
  font-weight: 500px;
}
.shareLink{
  line-height: 55px;
}
.lnk {
  color: #717274;
}

.btn_large {
  float: right;
}
.fa-link{
  color: #2d9ee0;
  margin-right: 5px;
}
.tb2:hover {
  background-color: #ffdcdc;
  border-radius: .25rem;
}

.fa-plus-circle {
  padding-right: 10px;
}
.inviteBtn{
  height: 55px;
  width: 160px;
  background-color: #04804f;
  font-weight: bold;
  color: white;

}

