
<div class="container inviteTop">

<p class="userLogo"><i class="fa fa-user-plus " style="font-size: 24px;"></i>    Workspaces with paid plans can also invite guests, like contractors, vendors, or clients.</p>
<h6 class="priceLink">See pricing Plans</h6>
</div>
<div class="container con">
    <div class="floatRight" [routerLink]="['']">
      <i class="fa fa-close"></i><span class="close-btn">esc</span>
    </div>
    <div class="container form">
      <div class="body-wrap">
        <h1 id="header_invite" class="size-font"><i class="fa fa-paper-plane-o"></i>
          <span class="light" style="font-weight: normal">Invite Members to
            <span class="bold">Srijan</span></span></h1>
      </div>
      <form #invitationForm="ngForm" >
      <div class="tblBody">
        <div class="header">
          <div class="col columnRight">
            <label class="sectnEmail">Email Address <br>
            </label>
          </div>

          <div class="col colLeft">
            <label class="sectnEmail">Full Name (optional) <br>
            </label>
          </div>
        </div>
        <div class="header row">
          <div class="col columnRight">
            <div class="full-width">
              <input  type="email" class="form-control" ngModel name="email0" placeholder="name@example.com">
            </div>
          </div>

          <div class="col colLeft">
            <div class="full-width">
              <input type="text" name="name" placeholder="Optional" class=" form-control"maxlength="200" >
            </div>
          </div>
        </div>
      </div>
      <div class="tblBodyblw" *ngFor="let item of items;let i = index">
        <div class="header row">
          <div class="col columnRight">
            <div class="full-width">
              <input  type="email" class="form-control" ngModel name="email{{i+1}}" placeholder="name@example.com">
            </div>
          </div>

          <div class="col colLeft">
            <div class="full-width">
              <input type="text" name="name" placeholder="Optional" class=" form-control"maxlength="200" >
            </div>
            <a class="deleteRow dr" data-action="deleteRow"><i class="fa fa-close cls-btn" (click)="deleteFieldValue(i)" style="font-weight: 50px"></i></a>
          </div>
        </div>
      </div>
    </form>
      <div class="rowAdd">
        <a tabindex="0"  (click)="addFieldValue(1)"><i class="fa fa-plus-circle"></i>Add another</a> or
        <a tabindex="0">add many at once</a>
        <span  class="float-right lnk" aria-disabled="false">
          <i class="fa fa-google" aria-hidden="true"></i>
          <span>
            Connect <a  tabindex="0" class="lnk">Google Contacts</a>
          </span>
        </span>
      </div>
      <div class="lblMembers">
        <label class="lblDefault">
          Default Channels
        </label>
        <div>
          <p class="lnk ">
            New <strong>members</strong> will automatically join <strong>general</strong> and <strong>random</strong>
          </p>
        </div>
      </div>

      <div>
        <a tabindex="0" class="shareLink"><i class="fa fa-link"></i>Get an Invite link to Share</a>
        <button class="btn inviteBtn" style="float: right;"  (click)='sendInvitation(invitationForm.value)'>Send Invitation</button>
    </div>
  </div>
